@import url("https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,185;1,185&display=swap");

$color-primario: linear-gradient(135deg, #2afadf 10%, #1d6fa3 100%);

$color-secundario: #2afadf;
$color-terciario: #f7eedd;
$color-transparent: rgba(255, 255, 255, 0.3);

$width-total: 100%;
$radius: 50%;

@mixin enlace {
  color: black;
  text-decoration: none;
}
@mixin flex {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ysabeau", sans-serif;
  font-weight: bold;
}
body {
  padding: 15px;
  background: $color-primario;
  border: 1px solid white;
  box-sizing: border-box;
  .section {
    width: 80%;
    margin: 0 auto;
    background-color: $color-transparent;
    border-radius: 10px;
    padding: 10px;
  }
}

.secundario {
  background: $color-secundario;
}

.carrousel {
  img {
    width: 70%;
    height: 50%;
    object-fit: cover;
  }
}
.btn-color {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  border-radius: 10px;

  background-image: linear-gradient(
    to right,
    #1d6fa3 0%,
    #26d0ce 51%,
    #1d6fa3 100%
  );
}

.btn-color:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.card__img {
  width: 250px;
  height: 250px;
  border-radius: $radius;
  object-fit: cover;
  border: 5px solid $color-secundario;
}
.terciario {
  background: $color-terciario;
}

.felecidades {
  background: $color-terciario;
}
.no-btn {
  border: none;
  background: none;
  transition: 0.3s;
}
.no-btn:hover {
  color: #26d0ce;
  transform: scale(1.2);
}
.cursor {
  cursor: pointer;
}

.form-input {
  input {
    margin: 2px;
    width: 160px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: $color-terciario;
    border-bottom: 3px solid $color-secundario;
    border-left: 3px solid $color-secundario;
  }

  input::placeholder {
    font-size: 20px;
    color: black;
  }
}

.images {
  img {
    width: $width-total;
    height: 100%;
    object-fit: cover;
  }
}
.color-modal {
  background: $color-terciario;
  .btn-modal {
    background: $color-secundario;
    color: black;
  }
}
.form-datos {
  input {
    background: $color-terciario;
    font-weight: bold;
  }
  input:focus {
    background: $color-terciario;
    border: none;
    color: black;
  }
}
footer {
  background: $color-transparent;
  margin-top: 15px;
  width: $width-total;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.iconos {
  color: white;
  text-align: center;
  font-size: 40px;
  display: inline-block;
}

.card-roma-img {
  width: 250px;
  height: 150px;
  img {
    width: $width-total;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    object-fit: cover;
  }
}

a {
  @include enlace;
}
.enlace-little {
  color: white;
}
.card-roma {
  @include flex;
  width: 95%;
  background-size: cover;
  margin: 0;
}
.alquilar {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: green;
}
.no-disponible {
  background: gainsboro;
}
.volver {
  padding: 10px 10px;
  font-size: 16px;
  width: 50px;
  height: 50px;
  color: black;
  border: none;
  border-radius: $radius;
  cursor: pointer;
  position: fixed;
  right: 10px;
  bottom: 100px;
}
.img-little {
  border-radius: 0 80px 80px 0;
  max-height: 150px;
  object-fit: cover;
  width: 100%;
}
.home {
  @extend .volver;
  margin-bottom: 5px;
  right: 10px;
  bottom: 150px;
}
.badge {
  background: $color-transparent;
  color: black;
}
/* /////////// media querys////////// */
@media screen and (max-width: 992px) {
  .section__form {
    form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
    }
    input {
      width: 200px;
      padding: 5px;
      margin: 15px;
    }
  }
  .card-roma {
    @include flex;
    flex-direction: column;
    width: 200px;
    img {
      border-top-right-radius: 5px;
      border-bottom-left-radius: 0;
    }

    .card-roma-img {
      width: 200px;
      height: 150px;
    }
    .alquilar {
      height: 60px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 5px;
    }
  }

  .img-little {
    // width: $width-total;
    border-radius: 0;
  }
}
